<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="accessibility-menu" label="Accessibility">
  <item label="Xmag">
    <action name="Execute"><command>xmag</command></action>
  </item>
</menu>

<menu id="editors-menu" label="Editors">
  <item label="Vim">
    <action name="Execute"><command>fterm -e vim</command></action>
  </item>
  <item label="Nano">
    <action name="Execute"><command>fterm -e nano</command></action>
  </item>
</menu>

<menu id="education-menu" label="Education" />
<menu id="emulators-menu" label="Emulators" />

<menu id="file-management-menu" label="File Management">
  <item label="FreeLinX Files">
    <action name="Execute"><command>fview</command></action>
  </item>
  <item label="Thunar">
    <action name="Execute"><command>thunar</command></action>
  </item>
</menu>

<menu id="graphics-menu" label="Graphics" />

<menu id="network-menu" label="Network">
  <item label="w3m Web Browser">
    <action name="Execute"><command>fterm -e w3m google.com</command></action>
  </item>
</menu>

<menu id="office-menu" label="Office" />
<menu id="programming-menu" label="Programming" />
<menu id="science-menu" label="Science" />

<menu id="shells-menu" label="Shells">
  <item label="Bash Shell">
    <action name="Execute"><command>fterm</command></action>
  </item>
</menu>

<menu id="sound-menu" label="Sound" />

<menu id="system-app-menu" label="System">
  <item label="System Info (pfetch)">
    <action name="Execute"><command>fterm -e sh -c "pfetch; echo ''; echo 'Press Enter to close...'; read l"</command></action>
  </item>
  <item label="Window Info (obxprop)">
    <action name="Execute"><command>fterm -e sh -c "echo 'Click on any window to inspect:'; obxprop; echo ''; echo 'Press Enter to close...'; read l"</command></action>
  </item>
</menu>

<menu id="terminal-emulators-menu" label="Terminal Emulators">
  <item label="uxterm">
    <action name="Execute"><command>uxterm</command></action>
  </item>
  <item label="fterm">
    <action name="Execute"><command>fterm</command></action>
  </item>
  <item label="xfce4-terminal">
    <action name="Execute"><command>xfce4-terminal</command></action>
  </item>
</menu>

<menu id="text-menu" label="Text" />
<menu id="tools-menu" label="Tools">
  <item label="Xeyes">
    <action name="Execute"><command>xeyes</command></action>
  </item>
</menu>
<menu id="video-menu" label="Video" />
<menu id="viewers-menu" label="Viewers" />

<menu id="applications-menu" label="Applications">
  <menu id="accessibility-menu" />
  <menu id="editors-menu" />
  <menu id="education-menu" />
  <menu id="emulators-menu" />
  <menu id="file-management-menu" />
  <menu id="graphics-menu" />
  <menu id="network-menu" />
  <menu id="office-menu" />
  <menu id="programming-menu" />
  <menu id="science-menu" />
  <menu id="shells-menu" />
  <menu id="sound-menu" />
  <menu id="system-app-menu" />
  <menu id="terminal-emulators-menu" />
  <menu id="text-menu" />
  <menu id="tools-menu" />
  <menu id="video-menu" />
  <menu id="viewers-menu" />
</menu>

<menu id="games-menu" label="Games">
  <item label="Doom">
    <action name="Execute"><command>doom</command></action>
  </item>
</menu>

<menu id="wm-menu" label="Window Managers">
  <item label="Openbox">
    <action name="Restart"><command>openbox</command></action>
  </item>
</menu>

<menu id="debian-menu" label="Debian">
  <menu id="applications-menu" />
  <menu id="games-menu" />
  <item label="Help">
    <action name="Execute"><command>fterm -e man openbox</command></action>
  </item>
  <menu id="wm-menu" />
</menu>

<menu id="root-menu" label="Openbox">
  <item label="Terminal emulator">
    <action name="Execute">
      <command>uxterm</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>

  <item label="Web browser">
    <action name="Execute">
      <command>x-www-browser</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>

  <separator />

  <menu id="debian-menu" />

  <menu id="client-list-combined-menu" label="Desktops" />

  <item label="ObConf">
    <action name="Execute">
      <command>obconf</command>
    </action>
  </item>

  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>

  <item label="Restart">
    <action name="Restart" />
  </item>

  <item label="Exit">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>