[Desktop Entry]
Version=1.0
Name=Web Browser
GenericName=Web Browser
Comment=FreeLinX Web - browser based on Firefox ESR
Exec=firefox %u
Icon=/usr/lib/firefox/browser/chrome/icons/default/default48.png
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=false
Categories=Network;WebBrowser;
