[Desktop Entry]
Name=Links Web Browser
GenericName=Web Browser
Comment=Fast and lightweight text/graphical web browser
Exec=uxterm -e links %u
Terminal=false
Type=Application
Icon=text-html
Categories=Network;WebBrowser;
