[Desktop Entry]
Type=Application
Name=mpv Media Player
Comment=Audio and video player
Exec=mpv %U
Icon=multimedia-video-player
Terminal=false
Categories=AudioVideo;Audio;Video;Player;
