[Desktop Entry]
Name=Terminal
GenericName=Terminal Emulator
Comment=Command line
Exec=st
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/flx-terminal.png
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;
