[Desktop Entry]
_Name=Xfp
_GenericName=Print Manager
_Comment=A simple print manager for Xfe
Exec=xfp %f
Terminal=false
Type=Application
StartupNotify=false
Icon=xfp
Categories=Utility;Printing;
