[Desktop Entry]
Name=Packages
GenericName=Package Manager
Comment=Install and remove software
Exec=flxpkg
Terminal=false
Type=Application
Icon=system-software-install
Categories=System;PackageManager;
Keywords=package;install;software;xpkg;
